.btn-custom-group {
  padding: 1.5rem;
  position: relative;
  margin-top: 1rem;
}

.btn-facebook {
  background: #3b5998;
  border-color: #3b5998;
  color: #ffffff;
}

.btn-google {
  background: #4285f4;
  border-color: #4285f4;;
  color: #ffffff;
}
