<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-4">
      <div style="flex-grow: 1; padding: 20px 50px 50px 20px; text-align: center">

        <div class="card">
          <div class="card-body">
            <h3>Rejoignez nous</h3>
            <p>Vous vendez un bien, faites le savoir et publier votre annonce sans plus tarder.</p>
            <div class="row justify-content-md-center btn-custom-group">
              <button class="btn btn-default btn-lg btn-block btn-google" *ngIf="!authStatus"
                      (click)="onSignInGoogle()">
                Continuer avec Google
              </button>
              <button class="btn btn-default btn-lg btn-block btn-facebook" *ngIf="!authStatus"
                      (click)="onSignInFacebook()">
                Continuer avec Facebook
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
