<div class="custom-jumbotron">
  <div class="container">
    <h5 class="display-4" style="color: #ffffff; font-size: 75px">Vendez en quelques clics</h5>
    <p class="lead" style="color: #ffffff; font-family: 'Gloria Hallelujah', cursive;">Rien de plus simple</p>
    <p class="lead" style="color: #ffffff; font-family: 'Gloria Hallelujah', cursive;">Prenez une photo et postez votre
      annonce en un minimum de temps</p>
    <!--<p class="lead" style="color: #ffffff; font-family: 'Shadows Into Light', cursive;">Prend une photo et vend</p>-->
    <!--<p class="lead" style="color: #ffffff; font-family: 'Indie Flower', cursive;">Prend une photo et vend</p>-->
    <!--<p class="lead" style="color: #ffffff; font-family: 'Indie Flower', cursive;">Prend une photo et vend</p>-->
    <!--<p class="lead" style="color: #ffffff; font-family: 'Gloria Hallelujah', cursive;">Prend une photo et vend</p>-->
    <!--<p class="lead" style="color: #ffffff; font-family: 'Caveat', cursive;">Prend une photo et vend</p>-->
  </div>
</div>
<div style="padding: 20px 50px 50px 20px">
  <app-annonce-list-search [isLoading]="isLoading" [annonces]="annonces"></app-annonce-list-search>
</div>
