.app-paginator {
  position: fixed;
  width: 100%;
  background-color: #ad1457;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  bottom: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.custom-jumbotron {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/oliweb-ec245.appspot.com/o/website%2Fclothing_leather_wooden.jpg?alt=media&token=c9201ff7-a17e-4155-8695-c411f95ec06f);
  background-size: cover;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  height: 75vh;
  filter: contrast(105%);
  -webkit-filter: contrast(105%); /* Safari 6.0 - 9.0 */
}
