<div class="row inline-block row-margin-5">
  <div class="col-md-12">
    <div class="col-md-5" [class.float-right]="fromBuyer()" [class.float-left]="fromSeller()">
      <div class="card card-padding-10" [class.buyer]="fromBuyer()" [class.seller]="fromSeller()" >
        <h5 class="card-title">{{message.uidAuthor}}</h5>
        <p class="card-text">{{message.message}}</p>
        <h6 class="card-subtitle mb-2 text-muted">{{dateMessage | date:'dd/MM/yy à HH:mm'}}</h6>
      </div>
    </div>
  </div>
</div>
