.card {
  cursor: pointer;
}

.zoom {
  transition: transform .2s;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.07);
}

.price {
  color: #ff7043;
  font-weight: bold;
}

.rounded-img {
  border-radius: 50%;
}
