<mat-card *ngIf="annonce" style="width: 350px; margin: 20px;max-height: 400px">
  <img *ngIf="annonce && annonce.photos" mat-card-image style="width: inherit" height="250px"
       src="{{annonce?.photos[0]}}" alt="{{annonce?.photos[0]}}">
  <mat-card-header>
    <img mat-card-avatar [src]="userImgSrc"/>
    <mat-card-title class="card-title">{{annonce.titre}}</mat-card-title>
    <mat-card-subtitle class="card-subtitle">Posté le {{getDatePublication()}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions align="start">
    <button mat-button color="accent" *ngIf="annonce.contactEmail" class="card-button">
      EMAIL
    </button>
    <button mat-button color="accent" *ngIf="annonce.contactMsg" class="card-button">
      MESSAGE
    </button>
  </mat-card-actions>
</mat-card>
