.card {
  cursor: pointer;
}

.zoom {
  transition: transform .2s;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.03);
}

.price {
  color: #ff7043;
  font-weight: bold;
}

.rounded-img {
  border-radius: 50%;
}

.custom-img{
  padding: 30px;
  max-height: 250px;
  width: auto;
  object-fit: contain;
  background-color: darkgray;
}
