<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="auth">Authentification</a></li>
      <li routerLinkActive="active"><a routerLink="annonces">Annonces</a></li>
    </ul>
    <div *ngIf="isAuth" align="right" style="vertical-align: middle">
      <mat-icon style="vertical-align: middle">message</mat-icon>
      <img class="mat-card-avatar" mat-card-avatar="" [src]="getUserPhotoUrl()" style="vertical-align: middle">
    </div>
  </div>
</nav>
