.light {
  background-color: #e2e2e2;
}

.oliweb-avatar {
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
  width: 32px;
  height: 32px;
  vertical-align: middle;
}

.app-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.flex-spacer {
  flex-grow: 1;
}


.btn-accent {
  color: #fff;
  background-color: #ff7043;
}

@media (max-width: 767px) {
  .content-to-hide {
    display: none;
  }
}


.rounded-img {
  border-radius: 50%;
}

@media (min-width: 1900px) {
  .navbar.navbar-expand-xxl {
    links,
    navlinks {
      display: flex;
      flex-direction: row;
      align-items: center !important;
      align-self: center !important;
      width: 100%;
    }
  }
}
