<div class="row inline-block" (click)="selectChat()" [class.active]="isActive()" style="min-height: 80px;border-bottom: 1px solid rgba(0,0,0,.15);">
  <div class="col-md-2 align-middle">
    <img class="top rounded-img" src="{{(urlPhoto) ? urlPhoto : 'assets/icon.png'}}" width="40px" height="40px">
  </div>
  <div class="col-md-7">
    <h5 style="font-weight: bold">{{chat.titreAnnonce}}</h5>
  </div>
  <div class="col-md-3">
    <h6 style="font-weight: lighter">{{chatUpdateDate | date:'dd/MM/yy à HH:mm'}}</h6>
  </div>
</div>
