<div style="flex-grow: 1; padding: 20px 50px 50px 20px">
  <form>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="true">Catégorie
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li *ngFor="let categorie of categories" [value]="categorie"><a href="#">{{categorie.libelle}}</a></li>
      </ul>
    </div>

    <div class="form-group">
      <label for="titreAnnonce">Titre</label>
      <input type="text" class="form-control" id="titreAnnonce" aria-describedby="titreAnnonceHelp" [(ngModel)]="annonce.titre" maxlength="256" placeholder="Entrez ici le titre de votre annonce">
      <small id="titreAnnonceHelp" class="form-text text-muted">{{annonce.titre.length}} / 256</small>
    </div>

    <div class="form-group">
      <label for="descriptionAnnonce">Description</label>
      <textarea class="form-control" id="descriptionAnnonce" rows="4" aria-describedby="descriptionAnnonceHelp" [(ngModel)]="annonce.description" maxlength="1000" placeholder="Entrez ici la description de votre annonce"></textarea>
      <small id="descriptionAnnonceHelp" class="form-text text-muted">{{annonce.description.length}} / 1000</small>
    </div>

    <div class="form-group">
      <input placeholder="Prix" type="number" [(ngModel)]="annonce.prix"
             name="prix">
    </div>

    <section>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" [checked]="contactTel" (change)="onChangeContactTel()"
               id="checkBoxContactTel"><label class="form-check-label" for="checkBoxContactTel">Par
        téléphone</label>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" [checked]="contactTel" (change)="onChangeContactEmail()"
               id="checkBoxContactMail"><label class="form-check-label" for="checkBoxContactMail">Par email</label>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" [checked]="contactTel" (change)="onChangeContactMsg()"
               id="checkBoxContactMessage"><label class="form-check-label" for="checkBoxContactMessage">Par
        message</label>
      </div>
    </section>


    <button type="button" class="btn btn-primary" (click)="saveAnnonce()">VALIDER</button>
    <button type="button" class="btn btn-warn" (click)="goBack()">ANNULER</button>

    <h4>{{erreur}}</h4>

  </form>
</div>
