.btn-accent {
  color: #fff;
  background-color: #ff7043;
}

button.focus {
  background-color: #ff7043;
  border-color: #ff7043;
  color: #fff;
}

button:hover{
  background-color: rgba(255, 112, 67, 0.5);
  border-color: rgba(255, 112, 67, 0.5);
  color: #fff;
}

button.list-group-item.title {
  z-index: 5;
  background-color: #ff7043;
  border-color: #ff7043;
  color: #fff;
}
